.pokemonWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .abilities {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    .abilitiesName {
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
    }
    .abilitiesList {
      list-style-type: none;
      margin: 0 !important;
      padding: 0 !important;
      > li {
        button {
          width: 5.7rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.15rem;
          cursor: pointer;
          margin-top: 0.25rem;
        }
      }
    }
  }
  .abilitiesLog {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem;
    .language {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}
